<!DOCTYPE html>

<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Carriers</title>
    <div th:insert="fragments/stiles :: stiles"></div>
</head>
<body>

<div th:insert="fragments/header :: header"></div>

<div align="center">
    <h5>Carriers</h5>
    <table class="table table-striped table-bordered table-sm">
        <thead>
        <tr>
            <th class="text-center" style="font-size:12px;">Carrier Name</th>
            <th class="text-center" style="font-size:12px;">CSC</th>
            <th class="text-center" style="font-size:12px;">SIP/TDM</th>
            <th class="text-center" style="font-size:12px;">SIP Public/Private</th>
            <th class="text-center" style="font-size:12px;">TG Name</th>
            <th class="text-center" style="font-size:12px;">SIG Source IP</th>
            <th class="text-center" style="font-size:12px;">Media Source IP</th>
            <th class="text-center" style="font-size:12px;">SIG Destination IP</th>
            <th class="text-center" style="font-size:12px;">Media Destination IP</th>
            <th class="text-center" style="font-size:12px;">OPC</th>
            <th class="text-center" style="font-size:12px;">DPC</th>
            <th class="text-center" style="font-size:12px;">Email</th>
            <th class="text-center" style="font-size:12px;">Contact Info</th>
            <th class="text-center" style="font-size:12px;">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tgno : ${tgnoList}">
            <td th:text="${tgno.carrier.name}" style="font-size:12px;"></td>
            <td th:text="${tgno.callSource}" style="font-size:12px;"></td>
            <td th:text="${tgno.technology}" style="font-size:12px;"></td>
            <td th:text="${tgno.publicOrPrivate}" style="font-size:12px;"></td>
            <td th:text="${tgno.name}" style="font-size:12px;"></td>
            <td th:text="${tgno.sigSourceIp}" style="font-size:12px;"></td>
            <td th:text="${tgno.mediaSourceIp}" style="font-size:12px;"></td>
            <td th:text="${tgno.sigDestinationIp}" style="font-size:12px;"></td>
            <td th:text="${tgno.mediaDestinationIp}" style="font-size:12px;"></td>
            <td th:text="${tgno.opc}" style="font-size:12px;"></td>
            <td th:text="${tgno.dpc}" style="font-size:12px;"></td>
            <td th:text="${tgno.carrier.email}" style="font-size:12px;"></td>
            <td th:text="${tgno.carrier.otherInformations}" style="font-size:12px;"></td>
            <td>
                <a th:href="@{'/carrier/edit/' + ${tgno.id}}" style="font-size:12px;">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-success btn-sm" th:href="'/carrier/new'">Add New</a>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>