<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Carrier</title>
    <div th:insert="fragments/stiles :: stiles"></div>
</head>
<body>

<div th:insert="fragments/header :: header"></div>

<div align="center">
    <div class="col-sm-6">
        <h5><span th:text="${tgno.name}"></span></h5>
        <br/>
        <form action="#" th:action="@{/carrier/save}" th:object="${tgno}" method="post">
            <div class="form-group row">
                <label for="id" class="col-sm-2 col-form-label col-form-label-sm">Carrier ID:</label>
                <div class="col-sm-10">
                    <input type="text" id="id" class="form-control form-control-sm" th:field="*{id}" readonly="readonly">
                    <input type="hidden" th:field="*{carrier.id}">
                </div>
            </div>
            <div class="form-group row">
                <label for="carrierName" class="col-sm-2 col-form-label col-form-label-sm" >Carrier Name:</label>
                <div class="col-sm-10">
                    <input type="text" id="carrierName" class="form-control form-control-sm"
                           th:field="*{carrier.name}">
                </div>
            </div>
            <div class="form-group row">
                <label for="callSourceCode" class="col-sm-2 col-form-label col-form-label-sm">Call Source Code:</label>
                <div class="col-sm-10">
                    <input type="number" id="callSourceCode" class="form-control form-control-sm" th:field="*{callSource}">
                </div>
            </div>
            <div class="form-group row">
                <label for="dateClose" class="col-sm-2 col-form-label col-form-label-sm">Technology SIP/TDM:</label>
                <div class="col-sm-10">
                    <input type="text" id="dateClose" class="form-control form-control-sm"
                           th:field="*{technology}">
                </div>
            </div>
            <div class="form-group row">
                <label for="sipPublicOrPrivate" class="col-sm-2 col-form-label col-form-label-sm">SIP Public Or Private:</label>
                <div class="col-sm-10">
                    <input type="text" id="sipPublicOrPrivate" class="form-control form-control-sm" th:field="*{publicOrPrivate}">
                </div>
            </div>
            <div class="form-group row">
                <label for="tgName" class="col-sm-2 col-form-label col-form-label-sm">Tg Name:</label>
                <div class="col-sm-10">
                    <input type="text" id="tgName" class="form-control form-control-sm" th:field="*{name}">
                </div>
            </div>
            <div class="form-group row">
                <label for="sigSourceIp" class="col-sm-2 col-form-label col-form-label-sm">Sig Source Ip:</label>
                <div class="col-sm-10">
                    <textarea class="form-control form-control-sm" id="sigSourceIp" rows="3" th:field="*{sigSourceIp}"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="mediaSourceIp" class="col-sm-2 col-form-label col-form-label-sm">Media Source Ip:</label>
                <div class="col-sm-10">
                    <textarea class="form-control form-control-sm" id="mediaSourceIp" rows="3" th:field="*{mediaSourceIp}"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="sigDestinationIp" class="col-sm-2 col-form-label col-form-label-sm">Sig Destination Ip:</label>
                <div class="col-sm-10">
                    <textarea class="form-control form-control-sm" id="sigDestinationIp" rows="3" th:field="*{sigDestinationIp}"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="mediaDestinationIp" class="col-sm-2 col-form-label col-form-label-sm">Media Destination Ip:</label>
                <div class="col-sm-10">
                    <textarea class="form-control form-control-sm" id="mediaDestinationIp" rows="3" th:field="*{mediaDestinationIp}"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="opc" class="col-sm-2 col-form-label col-form-label-sm">OPC:</label>
                <div class="col-sm-10">
                    <input type="text" id="opc" class="form-control form-control-sm" th:field="*{opc}">
                </div>
            </div>
            <div class="form-group row">
                <label for="dpc" class="col-sm-2 col-form-label col-form-label-sm">DPC:</label>
                <div class="col-sm-10">
                    <input type="text" id="dpc" class="form-control form-control-sm" th:field="*{dpc}">
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label col-form-label-sm">Email:</label>
                <div class="col-sm-10">
                    <input type="text" id="email" class="form-control form-control-sm" th:field="*{carrier.email}">
                </div>
            </div>
            <div class="form-group row">
                <label for="otherContactInfo" class="col-sm-2 col-form-label col-form-label-sm">Other Contact Info:</label>
                <div class="col-sm-10">
                    <textarea class="form-control form-control-sm" rows="3" id="otherContactInfo"
                              th:field="*{carrier.otherInformations}">
                    </textarea>
                </div>
            </div>
            <a class="btn btn-success btn-sm" th:href="'/carrier/all'">Cancel</a>
            <button class="btn btn-success btn-sm" type="submit">Save</button>
        </form>
    </div>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>