<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>New User</title>
    <div th:insert="fragments/stiles :: stiles"></div>
</head>
<body>
<form th:action="@{/registration}" method="post">
    <div align="center">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="username">New User Login</label>
                <input type="text" class="form-control" id="username" name="userName" placeholder="Enter username">
                <div th:if="${message}">
                    <small id="invalidPassword" class="form-text text-muted" th:text="${message}"></small>
                </div>
            </div>
            <div class="form-group">
                <label for="password">New User Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <br/>
            <a href="/login">Go to Sign in</a>
        </div>
    </div>
</form>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>