<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tickets</title>
    <div th:insert="fragments/stiles :: stiles"></div>
</head>
<body>

<div th:insert="fragments/header :: header"></div>

<div align="center">
    <h5>Tickets</h5>
    <a th:href="'/tickets/new'" class="btn btn-outline-secondary btn-sm">Create New Ticket</a>
    <a th:href="'/tickets/all'" class="btn btn-outline-secondary btn-sm">Show all Tickets</a>
    <a th:href="'/tickets'" class="btn btn-outline-secondary btn-sm">Show open Tickets</a>
    <br/><br/>
    <table class="table table-striped table-bordered table-sm">
        <thead>
        <tr style="font-size:12px;">
            <th class="text-center">ID</th>
            <th class="text-center">TT №</th>
            <th class="text-center">TT Operator</th>
            <th class="text-center">Operator</th>
            <th class="text-center">TGNO</th>
            <th class="text-center">Initiator</th>
            <th class="text-center">Responsible Person</th>
            <th class="text-center">Date Open</th>
            <th class="text-center">Date Close</th>
            <th class="text-center">Description</th>
            <th class="text-center">Status</th>
            <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ticket : ${listTickets}" style="font-size:12px;">
            <td th:text="${ticket.id}"></td>
            <td th:if="${!#strings.isEmpty(ticket.dateClose) and !ticket.resolved}">
                <span class="bg-danger"
                      th:text="${#calendars.format(ticket.dateOpen, 'yyyy-MM-dd')} + '/' + ${ticket.id}"></span>
            </td>
            <td th:if="${!#strings.isEmpty(ticket.dateClose) and ticket.resolved}">
                <span th:text="${#calendars.format(ticket.dateOpen, 'yyyy-MM-dd')} + '/' + ${ticket.id}"></span>
            </td>
            <td th:if="${#strings.isEmpty(ticket.dateClose)}">
                <span th:text="${#calendars.format(ticket.dateOpen, 'yyyy-MM-dd')} + '/' + ${ticket.id}"></span>
            </td>
            <td th:text="${ticket.ttOperator}"></td>
            <td th:text="${ticket.tgno.carrier.name}"></td>
            <td th:if="${ticket.srtBlocked}">
                <span class="bg-warning" th:text="${ticket.tgno.name}"></span>
            </td>
            <td th:unless="${ticket.srtBlocked}">
                <span th:text="${ticket.tgno.name}"></span>
            </td>
            <td th:text="${ticket.initiator}"></td>
            <td th:text="${ticket.customer.surname} + ' ' + ${ticket.customer.name}"></td>
            <td th:text="${#calendars.format(ticket.dateOpen, 'dd.MM.yyyy')}"></td>
            <td th:text="${#calendars.format(ticket.dateClose, 'dd.MM.yyyy')}"></td>
            <!--            <td th:text="${ticket.problem} + ' to ' + ${ticket.remoteSide} +'. Number range ' + ${ticket.code} +-->
            <!--             ' (' + ${ticket.dest} + '). Test number: ' + ${ticket.testNumber} + '. ' +-->
            <!--              ${ticket.causeValue}"></td>-->
            <td>
                <span th:text="${ticket.problem} + ' to ' + ${ticket.remoteSide}  + '. Number range '"/>
                <span class="text-primary font-weight-bold" th:text="${ticket.code}"/>
                <span class="text-danger font-weight-bold" th:text="'(' + ${ticket.dest} + ')'"/>
                <span th:text="'. Test number: ' + ${ticket.testNumber} + '. ' + ${ticket.causeValue}"/>
            </td>
            <td th:text="${ticket.description}"></td>
            <td>

                <div th:if="${ticket.dateClose == null}">
                    <a th:href="@{'/tickets/edit/' + ${ticket.id}}">Edit</a>
                    <a th:href="@{'/tickets/delete/' + ${ticket.id}}">Delete</a>
                </div>
                <div th:unless="${ticket.dateClose == null}">
                    <a th:href="@{'/tickets/edit/' + ${ticket.id}}">Edit</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>