<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Ticket</title>
    <div th:insert="fragments/stiles :: stiles"></div>
</head>
<body>

<div th:insert="fragments/header :: header"></div>

<div align="center">
    <div class="col-sm-6">
        <h5>
            <span th:text="'TT#' + ${#calendars.format(ticket.dateOpen, 'yyyy-MM-dd')} + '/' + ${ticket.id}"></span>
        </h5>
        <br/>
        <form action="#" th:action="@{/tickets/save}" th:object="${ticket}" method="post">
            <div class="form-group row">
                <label for="ticketId" class="col-sm-2 col-form-label col-form-label-sm">Ticket ID:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="ticketId" th:field="*{id}"
                           readonly="readonly">
                </div>
            </div>
            <div class="form-group row">
                <label for="dateOpen" class="col-sm-2 col-form-label col-form-label-sm">Date Open:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="dateOpen" th:field="*{dateOpen}">
                </div>
            </div>
            <div class="form-group row">
                <label for="dateClose" class="col-sm-2 col-form-label col-form-label-sm">Date Close:</label>
                <div class="col-sm-10">
                    <input type="date" name="dateClose" class="form-control form-control-sm" id="dateClose"
                           th:field="*{dateClose}">
                </div>
            </div>
            <div class="form-group row">
                <label for="ttOperator" class="col-sm-2 col-form-label col-form-label-sm">TT Operator:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="ttOperator" th:field="*{ttOperator}">
                </div>
            </div>

            <div class="form-group row">
                <label for="tgno"
                       class="col-sm-2 col-form-label col-form-label-sm text-danger font-weight-bold">TGNO*:</label>
                <div class="col-sm-10">
                    <select class="browser-default custom-select" id="tgno" th:field="*{tgno.name}">
                        <option th:each="tgn : ${tgnoNames}" th:value="${tgn}" th:text="${tgn}"
                                th:selected="${tgn} == *{tgno.name}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="initiator" class="col-sm-2 col-form-label col-form-label-sm">Initiator:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="initiator" th:field="*{initiator}">
                </div>
            </div>

            <div class="form-group row">
                <label for="responsible" class="col-sm-2 col-form-label col-form-label-sm">Responsible:</label>
                <div class="col-sm-10">
                    <!--                           th:field="*{customer.userName}">-->
                    <input type="text" class="form-control form-control-sm" id="responsible"
                           th:id="customer.userName"
                           th:name="customer.userName"
                           th:value="${#httpServletRequest.remoteUser}">
                </div>
            </div>
            <div class="form-group row">
                <label for="operator" class="col-sm-2 col-form-label col-form-label-sm">Carrier:</label>
                <div class="col-sm-10">
                    <input type="text" readonly="readonly" class="form-control form-control-sm" id="operator"
                           th:field="*{tgno.carrier.name}">
                </div>
            </div>
            <div class="form-group row">
                <label for="calledSide" class="col-sm-2 col-form-label col-form-label-sm">Called side:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="calledSide"
                           th:field="*{remoteSide}">
                </div>
            </div>
            <!--            <div class="form-group row">-->
            <!--                <label for="problem" class="col-sm-2 col-form-label col-form-label-sm">Problem*:</label>-->
            <!--                <div class="col-sm-10">-->
            <!--                    <input type="text" class="form-control form-control-sm" id="problem" th:field="*{problem}">-->
            <!--                </div>-->
            <!--            </div>-->
            <div class="form-group row">
                <label for="problem" class="col-sm-2 col-form-label col-form-label-sm">Problem*:</label>
                <div class="col-sm-10">
                    <input class="browser-default custom-select" type="text" id="problem" list="problems" th:field="*{problem}">
                    <datalist id="problems">
                        <option class="form-control form-control-sm" value="Call failure">Call failure</option>
                        <option value="Incorrect CLI">Incorrect CLI</option>
                        <option value="Fake answer">Fake answer</option>
                        <option value="Bad voice quality">Bad voice quality</option>
                        <option value="One side audibility">One side audibility</option>
                    </datalist>
                </div>
            </div>
            <div class="form-group row">
                <label for="dest" class="col-sm-2 col-form-label col-form-label-sm">Dest*:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="dest" th:field="*{dest}">
                </div>
            </div>
            <div class="form-group row">
                <label for="code" class="col-sm-2 col-form-label col-form-label-sm">Code*:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="code" th:field="*{code}">
                </div>
            </div>
            <div class="form-group row">
                <label for="testNumber" class="col-sm-2 col-form-label col-form-label-sm">Test Number:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="testNumber"
                           th:field="*{testNumber}">
                </div>
            </div>
            <div class="form-group row">
                <label for="timeTestCall" class="col-sm-2 col-form-label col-form-label-sm">Time of test
                    calls:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="timeTestCall"
                           th:field="*{timeTestCall}">
                </div>
            </div>
            <div class="form-group row">
                <label for="causeValue" class="col-sm-2 col-form-label col-form-label-sm">Cause value:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="causeValue"
                           th:field="*{causeValue}">
                </div>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="srtBlocked" th:field="*{srtBlocked}"
                       th:value="'true'">
                <label class="form-check-label" for="srtBlocked">
                    Subroute blocked.
                </label>
            </div>
            <div class="row">
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="solved" th:field="*{resolved}"
                               th:value="'true'">
                        <label for="solved" class="form-check-label">
                            Operator solved the problem
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="notSolved" th:field="*{resolved}"
                               th:value="'false'">
                        <label for="notSolved" class="form-check-label">
                            Operator did not solve the problem
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="status" class="col-sm-2 col-form-label col-form-label-sm">Status:</label>
                <div class="col-sm-10">
                    <textarea class="form-control form-control-sm" rows="3" id="status"
                              th:field="*{description}"></textarea>
                </div>
            </div>
            <a class="btn btn-success btn-sm" th:href="'/tickets'">Cancel</a>
            <a class="btn btn-success btn-sm" th:href="'/tickets/email/' + ${ticket.id}">Email</a>
            <button class="btn btn-success btn-sm" type="submit" name="action" value="save">Save</button>
            <button class="btn btn-success btn-sm" type="submit" name="action" value="saveAsNew">Save As New</button>

        </form>
    </div>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>