<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Email</title>
    <div th:insert="fragments/stiles :: stiles"></div>
</head>
<body>

<div th:insert="fragments/header :: header"></div>

<div align="center">
    <div class="col-sm-4">
        <p class="text-left">
            Dear Partners!<br/>
            Greetings from Vodafone Ukraine!<br/>
            Please open TT on the following problem and send us back your TT number.<br/>
            Date/time:
            <span th:text="${#dates.format(#dates.createNow(), 'dd.MM.yyyy HH:mm')}"></span>
            <br/>
            Carrier: Vodafone Ukraine<br/>
            Vodafone Ticket Number:
            <span th:text="'TT#' + ${#calendars.format(ticket.dateOpen, 'yyyy-MM-dd')} + '/' + ${ticket.id}"></span>
        </p>
        <table class="table table-bordered table-sm">
            <tbody>
            <tr>
                <td>
                    <div th:text="${ticket.tgno.technology == 'SIP'} ? 'IP SRC' : 'OPC'"></div>
                </td>
                <td>
                    <div class="text-primary"
                         th:text="${ticket.tgno.technology == 'SIP'} ? ${ticket.tgno.sigSourceIp} : ${ticket.tgno.opc}"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div th:text="${ticket.tgno.technology == 'SIP'} ? 'IP DST' : 'DPC'"></div>
                </td>
                <td>
                    <div class="text-primary"
                         th:text="${ticket.tgno.technology == 'SIP'} ? ${ticket.tgno.sigDestinationIp} : ${ticket.tgno.dpc}"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div th:text="'Type of A number'"></div>
                </td>
                <td>
                    <div class="text-primary" th:text="'mobile'"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div th:text="'A number'"></div>
                </td>
                <td>
                    <div class="text-primary" th:text="'+380501105699'"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div th:text="'Type of B number'"></div>
                </td>
                <td>
                    <div class="text-primary" th:text="'mobile'"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div th:text="'B number'"></div>
                </td>
                <td>
                    <div class="text-primary" th:text="${ticket.testNumber}"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div th:text="'Date and time of calls'"></div>
                </td>
                <td>
                    <div class="text-primary" th:text="${ticket.timeTestCall} + '  (UTC ' + ${tz} + ')'"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div th:text="'Type of problem'"></div>
                </td>
                <td>
                    <div class="text-primary" th:text="${ticket.problem}"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div th:text="'Release (CV)'"></div>
                </td>
                <td>
                    <div class="text-primary" th:text="${ticket.causeValue}"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div th:text="'Frequency of occurring'"></div>
                </td>
                <td>
                    <div class="text-primary" th:text="'Any calls'"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div th:text="'Comments'"></div>
                </td>
                <td>
                    <div class="text-primary" th:text="'None'"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div th:text="'Service via alternative carrier'"></div>
                </td>
                <td>
                    <div class="text-primary" th:text="'Yes'"></div>
                </td>
            </tr>
            </tbody>
        </table>
        <p class="text-left">
            Please use "Reply to all" function in correspondence with Vodafone Ukraine.
            <br/>
            We appreciate your cooperation.
            <br/>
        </p>
        <br/>
        <a class="btn btn-success btn-sm" th:href="'/tickets/edit/' + ${ticket.id}">Back</a>
        <a class="btn btn-success btn-sm" th:href="'mailto:' + ${ticket.tgno.carrier.email} +
         '?subject=' + ${ticket.problem} + ' to ' + ${ticket.remoteSide} + ' via ' +
            ${ticket.tgno.carrier.name} + '    #' + ${#calendars.format(ticket.dateOpen, 'yyyy-MM-dd')} +
            '/' + ${ticket.id} + ' &cc=CORE_FIXED@vodafone.ua'">Send Mail</a>
    </div>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>