<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Ticket</title>
    <div th:insert="fragments/stiles :: stiles"></div>
</head>
<body>

<div th:insert="fragments/header :: header"></div>

<div align="center">
    <div class="col-sm-6">
        <h5>Create New Ticket</h5>
        <br/>
        <form action="#" th:action="@{/tickets/save}" th:object="${ticket}" method="post" novalidate>
            <div class="form-group row">
                <label for="dateOpen" class="col-sm-2 col-form-label col-form-label-sm text-danger font-weight-bold">Date
                    Open*:</label>
                <div class="col-sm-10"
                     th:with="currentDate=${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd HH:mm:ss')}">
                    <input type="text" class="form-control form-control-sm" id="dateOpen"
                           th:id="dateOpen"
                           th:name="dateOpen"
                           th:value="${currentDate}"/>
                    <!--                           th:field="*{dateOpen}"/>-->
                </div>
            </div>
            <div class="form-group row">
                <label for="ttOperator" class="col-sm-2 col-form-label col-form-label-sm">TT Operator:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="ttOperator" th:field="*{ttOperator}">
                </div>
            </div>
            <div class="form-group row">
                <label for="tgno"
                       class="col-sm-2 col-form-label col-form-label-sm text-danger font-weight-bold">TGNO*:</label>
                <div class="col-sm-10">
                    <select class="browser-default custom-select" id="tgno" th:field="*{tgno.name}">
                        <option th:each="tgn : ${tgnoNames}" th:value="${tgn}" th:text="${tgn}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="initiator" class="col-sm-2 col-form-label col-form-label-sm">Initiator:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="initiator" th:field="*{initiator}">
                </div>
            </div>
            <div class="form-group row">
                <label for="responsible" class="col-sm-2 col-form-label col-form-label-sm">Responsible:</label>
                <div class="col-sm-10">
                    <!--                    <input type="text" class="form-control form-control-sm" id="responsible" th:field="*{responsible}">-->
                    <input type="text" class="form-control form-control-sm" id="responsible"
                           th:id="customer.userName"
                           th:name="customer.userName"
                           th:value="${#httpServletRequest.remoteUser}">
                </div>
            </div>
            <div class="form-group row">
                <label for="carrier" class="col-sm-2 col-form-label col-form-label-sm">Carrier:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="carrier" readonly="readonly">
                </div>
            </div>
            <div class="form-group row">
                <label for="calledSide" class="col-sm-2 col-form-label col-form-label-sm">Called side:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="calledSide" th:field="*{remoteSide}">
                </div>
            </div>
            <div class="form-group row">
                <label for="problem" class="col-sm-2 col-form-label col-form-label-sm text-danger font-weight-bold">Problem*:</label>
                <div class="col-sm-10">
                    <select class="browser-default custom-select" id="problem" th:field="*{problem}">
                        <option value="Call failure">Call failure</option>
                        <option value="Incorrect CLI">Incorrect CLI</option>
                        <option value="Fake answer">Fake answer</option>
                        <option value="Bad voice quality">Bad voice quality</option>
                        <option value="One side audibility">One side audibility</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="dest"
                       class="col-sm-2 col-form-label col-form-label-sm text-danger font-weight-bold">Dest*:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="dest" th:field="*{dest}">
                </div>
            </div>
            <div class="form-group row">
                <label for="code"
                       class="col-sm-2 col-form-label col-form-label-sm text-danger font-weight-bold">Code*:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="code" th:field="*{code}">
                </div>
            </div>
            <div class="form-group row">
                <label for="testNumber" class="col-sm-2 col-form-label col-form-label-sm">Test Number:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="testNumber" th:field="*{testNumber}">
                </div>
            </div>
            <div class="form-group row">
                <label for="timeTestCall" class="col-sm-2 col-form-label col-form-label-sm">Time of test calls:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="timeTestCall"
                           th:field="*{timeTestCall}">
                </div>
            </div>
            <div class="form-group row">
                <label for="causeValue" class="col-sm-2 col-form-label col-form-label-sm">Cause value:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="causeValue" th:field="*{causeValue}">
                </div>
            </div>
            <div class="form-group row">
                <label for="status" class="col-sm-2 col-form-label col-form-label-sm">Status:</label>
                <div class="col-sm-10">
                    <textarea class="form-control form-control-sm" rows="3" id="status"
                              th:field="*{description}"></textarea>
                </div>
            </div>
            <a class="btn btn-success btn-sm" th:href="'/tickets'">Cancel</a>
            <button class="btn btn-success btn-sm" type="submit" name="action" value="save">Save</button>
        </form>
    </div>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>